
    <h1>Olá handlebars</h1>
    <p>Algum texto do site!!!</p>
    <p>O nome do usuário é {{user.name}} e tem {{user.age}} anos de idade</p>

    <h2>{{palavra}}</h2>

    {{#if auth}}
        <p>Você está autenticado! <a href="./dashboard">Clique aqui</a></p>
    {{/if}}